<br>
<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-6">
            <%= image_tag 'user.png', class: 'profile_img' %>
        </div>
        <div class="col-md-4">
            <div class="card-body ">
                <h5 class="card-title"><--- Este soy yo</h5>
                <p class="card-text">Maximiliano Abarca. Y estoy estudiando para ser un excelente desarrollador.</p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-6">
            <%= image_tag 'user.png', class: 'molly' %>
        </div>
        <div class="col-md-4">
            <div class="card-body ">
                <h5 class="card-title"><--- Y esta es la Molly</h5>
                <p class="card-text">Si me contratas me ayudarás a pagar su comida, o acaso quieres que pase hambre?</p>
            </div>
        </div>
    </div>
</div>