<h1>Proyectos</h1>
<br>
<div class="container-fluid row">
    <div class="card col-md-4 mb-3" style="max-width: 100%;">
        <div class="row g-0">
            <div class="row">
                <%= image_tag 'viajes.svg', class: 'card_img' %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Viajes Chile</h5>
                    <p class="card-text">Proyecto perteneciente al segundo módulo del curso, se simula una página web de una agencia de viajes.</p>
                    <a href="https://github.com/maxabarcap/ViajesChile" class="boton">Ver más</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-md-4 mb-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="row">
            <%= image_tag 'postgresql.png', class: 'card_img' %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Módulo 3</h5>
                <p class="card-text">En este módulo trabajamos con bases de datos, espeficiamente en postgresql, ya sea desde la terminal o DBeaver, se adjunta link a la prueba final del módulo.</p>
                <a href="https://youtu.be/_oMkPASzkqE" class="boton">Ver más</a>
            </div>
        </div>
    </div>
    </div>
    <div class="card col-md-4 mb-3" style="max-width: 100%;">
        <div class="row g-0">
            <div class="row">
                <%= image_tag 'ruby.png', class: 'card_img' %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Módulo 4</h5>
                    <p class="card-text">En este módulo se trabajó con ruby como lenguaje y su sintáxis, se adjunta link a los desafíos del módulo.</p>
                    <a href="https://github.com/maxabarcap/Modulo4" class="boton">Ver más</a>
                </div>
            </div>
        </div>
</div>
</div>